a {
    text-decoration: none !important;
}

@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica.otf);
}

body {
    background: url(../img/bgsmall-body.png);
    font: 12px Helvetica, Arial, sans-serif;
}

                        /*HEADER BEGIN*/
.navbar-collapse{
    width: 100%;
}

.plus {
    color: #f5937e;
    font-size: 24px;
}

.nav > li > a:focus,
.nav > li > a:hover
{
    color: #f26c4f !important;
}

.login {
    float: left;
    margin: 18px 0 0 33%;
}

.login a{
    color: white;
}

.login a:focus,
.login a:hover
{
    color: #f26c4f !important;
}

.navbar-header {
    padding-right: 2%;
    padding-left: 12%;
    height: 45px !important;
    background: #f26c4f;
}

.navbar-brand {
    font-size: 24px;
}

.collapse.navbar-collapse {
    background: url(../img/pt-header.png);
    font: 12px Helvetica, Arial, sans-serif;
}

.container-fluid {
    height: 90px;
    background: url(../img/bg2-header.png);
}

.collapse.navbar-collapse {
    height: 45px !important;
}

.navbar.navbar-default {
    height: 95px !important;
    background: #b6b6b6;
}

.nav.navbar-nav{
    padding-left: 10px;
}
                        /*HEADER END*/

.social-networks{
    margin: 0;
    position: fixed;
    top: 30%;
    width: 40px;
    height: 190px;
    z-index: 1;
}

.link{
    display: block;
    height: 47px;
    background: linear-gradient(to bottom, #f26e51, #f16649);
    border: 1px solid #d75f48;
}

.link i{
    font-size: 24px;
    color: #b3371e;
    margin: 8px;
}

                       /*CONTAINER BEGIN*/
.container{
    min-height:100%;
    height:100%;
    min-width: 300px;
    position:relative;
}

.picture{
    height: 40%;
    max-height: 315px;
    width: 100%;
    margin: 0 0 10px 0;
    overflow: hidden;
    background: white;
    float: left;
    position: relative;
    border: 1px double #d7d7d7;
    outline: 7px solid white;
    outline-offset: -8px;
}

.picture img{
    width: 100%;
    margin: -40% 0 0 0;
}

.facebook-button{
    position: absolute;
    left: 18px;
    bottom: 72px;
}

.twitter-button{
    position: absolute;
    left: 18px;
    bottom: 16px;
}

.edit-button{
    position: absolute;
    right: 13px;
    top: 13px;
    height: 30px;
    width: 30px;
    background: #f26c4f;
    border-radius: 4px;
}

.destroy-button{
    position: absolute;
    right: 13px;
    top: 46px;
    height: 30px;
    width: 30px;
    background: #f26c4f;
    border-radius: 4px;
}

.comments-button{
    position: absolute;
    right: 12px;
    bottom: 12px;
    height: 30px;
    width: 120px;
    background: #f26c4f;
    border-radius: 4px;
    color: white;
    text-align: center;
    font: 14px Myriad Pro, Arial;
}

.comments-button p{
    padding: 5%;
}

.fa-pencil{
    font-size: 17px;
    padding: 21% 25%;
}

.fa-times{
    font-size: 18px;
    padding: 20% 26%;
}

.fa{
    color: white;
}

.description{
    width: 100%;
    background: white;
    float: inherit;
    margin-bottom: 20px;
    padding-bottom: 40px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 6px 0 -4px #ffffff,
                0 6px 0 -3px #cbc9c1,
                0 13px 0 -8px #ffffff,
                0 13px 0 -7px #cbc9c1;
    position: relative;
}


.description:after, .description:before {
    bottom: 100%;
    left: 55px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.description:after {
    border-width: 18px;
    margin-left: -32px;
    border-bottom-color: white;
}
.description:before {
    border-bottom-color: #d7d7d7;
    border-width: 20px;
    margin-left: -34px;
}

.description.small:after, .description.small:before {
    left: 19%;
}

h2{
    font: 30px Helvatica, Arial;
    font-weight: bold;
    padding: 10px 40px 0 40px;
    color: #3a3e3f;
}

.picture-small{
    height: 210px;
}

.small h2{
    font: 16px Helvatica, Arial;
    font-weight: bold;
    padding: 10px 40px 0 40px;
    color: #3a3e3f;
}

.description p{
    color: #f26c4f;
    font: 15px Helvatica, Arial;
    font-weight: bold;
    padding: 10px 40px 0;
}

.description h4{
    font-style: normal;
    padding-top: 3px;
}

.aside{
    background: white;
    border: 1px solid #d7d7d7;
    margin-bottom: 20px;
}

.aside p{
    font: 11px Helvetica, Arial;
    color: #787878;
    line-height: 180%;
    font-style: italic;
    padding: 5px 15px 0 40px;
    margin-bottom: 0;
}

h3{
    font: 16px Helvetica, Arial;
    color: #3a3e3f;
    padding: 30px 0 0 40px;
    font-weight:bold;
    margin-top: 0;
}

h4{
    font: 12px Helvetica, Arial;
    color: #959595;
    padding: 8px 40px 0 40px;
    line-height: 200%;
    font-style:italic;
    margin: 0;
}

h5{
    font: 11px Helvetica, Arial;
    color: #aeaeae;
    padding: 8px 0 0 40px;
    font-style:italic;
}

h6{
    font: 10px Helvetica, Arial;
    color: #b9b9b9;
    padding: 0 0 0 20px;
    font-style:italic;
    margin-top: 4px;
    margin-bottom: 0;
}

.recieve-updates {
    width: 80%;
    height: 55px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    max-height: 50px;
    background: white;
    margin-left: 40px;
    margin-bottom: 10px;
    display: inline-flex;
    box-shadow: inset 0 0 3px #cbcbcb;
}

.recieve-updates button{
    margin: 7px 11px 7px 0;
    width: 65px;
    background: #e1e1e1;
    font: 14px Helvetica, Arial;
    font-weight: bold;
    color: #555555;
    background: linear-gradient(to bottom, #eeeeee, #d4d4d4);
    box-shadow: 0 3px 2px -2px #8d8d8d;
}

.aside{
    box-shadow: 0 10px 0 -4px #ffffff,
                0 10px 0 -3px #cbc9c1,
                0 17px 0 -8px #ffffff,
                0 17px 0 -7px #cbc9c1;
}

.aside input[type="search"] {
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 90%;
    height: 42px;
    text-align: left;
    margin-left: 10px;
    margin-top: 3px;
}

.aside ul {
    list-style-type: none;
    padding: 0 5% 0 60px;
    margin-bottom: 0;
}

.aside li:before{
    font-size: 8px;
    content: '\25ba';
    padding-right: 10px;
}

.aside li{
    font-size: 12px;
    color: #787878;
    line-height: 180%;
    font-style: italic;
    margin-bottom: 0;
    text-indent: -20px;
    padding-top: 10px;
}

.tags{
    margin: 10px 20px 10px 55px;
}

.tags button{
    margin-bottom: 5px;
    background: #e1e1e1;
    font: 11.82px Helvetica, Arial;
    font-weight: bold;
    color: #555555;
    padding: 10px 17px;
    background: linear-gradient(to bottom, #eeeeee, #d4d4d4);
    box-shadow: 0 3px 2px -2px #8d8d8d;
}

.add{
    padding: 5px 10px;
}

.add img{
    max-width: 100%;
    margin: 5px 0;
}
                        /*CONTAINER END*/

                        /*POST FORM BEGIN*/
.post-form{
    background: #fefefe;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: 1px solid #d7d7d7;
}

.post-form h2, .comments-view h2{
    margin-top: 0px;
}

.post-form p{
    font: 13.88px Helvetica, Arial;
    color: #888888;
    font-weight: bold;
    margin-left: 43px;
    margin-bottom: 2px;
}

.post-form input{
    margin-left: 43px;
    width: 90%;
    max-width: 453px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #a9a9a9;
    box-shadow: inset 0 0 3px #a0a0a0;
    margin-bottom: 8px;
}

.asterisk{
    color: #f26c4f;
}

.post-form h3{
    font-size: 14px;
    color: #aeaeae;
    font-weight: normal;
    font-style: italic;
    margin-top: -35px;
    margin-left: 5px;
}

textarea{
    width: 90%;
    height: 175px;
    margin-left: 43px;
    border-radius: 3px;
    border: 1px solid #a9a9a9;
    box-shadow: inset 0 0 3px #a0a0a0;
    resize: none;
}

button.create{
    color: white;
    background: linear-gradient(to bottom, #ff9780, #f36f52);
    font: 14px Helvetica, Arial;
    margin-left: 43px;
    margin-top: 15px;
}

button.cancel{
    margin-top: 15px;
    background: #e1e1e1;
    font: 14px Helvetica, Arial;
    font-weight: bold;
    color: #555555;
    background: linear-gradient(to bottom, #eeeeee, #d4d4d4);
    margin-left: 5px;
}
                        /*POST FORM END*/

                        /*POST VIEW END*/
.post-view{
    height: 450px;
}

.title-post-view{
    position: absolute;
    top: 39%;
    min-height: 75px;
    width: 100%;
    background: black;
    opacity: 0.4;
}

.post-view h2{
    position: absolute;
    top: 35%;
    color: white;
    padding: 1% 15%;
}

.text-view{
    background: #fefefe;
    margin-bottom: 20px;
    padding-bottom: 40px;
    border: 1px solid #d7d7d7;
    float: left;
    width: 100%;
    box-shadow: 0 6px 0 -4px #ffffff,
    0 6px 0 -3px #cbc9c1,
    0 13px 0 -8px #ffffff,
    0 13px 0 -7px #cbc9c1;
}

.text-view h3{
    color: #f26c4f;
    font: 15px Helvatica, Arial;
    font-weight: bold;
    padding: 10px 40px 0;
}

.text-view p{
    font: 12px Myriard Pro, Arial;
    color: #959595;
    padding: 8px 40px 0 40px;
    line-height: 200%;
    margin: 0;
}

.comments-view{
    background: #fefefe;
    margin-bottom: 20px;
    padding-bottom: 40px;
    border: 1px solid #d7d7d7;
    float: left;
    width: 100%;
}

.comment-item{
    display: block;
    margin-top: 25px;
    width: 100%;
}

.comment-item img{
    height: 50px;
    width: 50px;
    margin-left: 40px;
    float: left;
    border: 1px solid #d7d7d7;
}

.comment-item h3{
    color: #f26c4f;
    font: 15px Helvatica, Arial;
    font-weight: bold;
    padding: 0 10px 0;
    margin-left: 5px;
    float: left;
}

.comments-view h4{
    color: #3a3e3f;
    font: 14px Helvatica, Arial;
    font-style: italic;
    padding: 1px 10px 0 0;
    padding: 1px 10px 0 0;
    float: left;
}

.comment-item p{
    margin: -30px 20px 20px 105px;
    font: 12px Helvetica, Arial;
    color: #959595;
    line-height: 150%;
    float: left;
}

.nested{
    margin-left: 65px;
    width: 90%;
}

.comment-item h5{
    color: #f26c4f;
    font: 15px Helvatica, Arial;
    font-weight: bold;
    padding: 0;
    margin: 1px 10px 0 0;
    float: left;
}

                        /*POST VIEW END*/

                        /*FOOTER BEGIN*/
footer {
    min-height: 390px;
    background: #343434;

    right: 0;
    bottom: 0;
    left: 0;
}

footer p {
    color: #ffffff;
    font: 12px Helvetica Neue, Arial, sans-serif;;
}

footer .info {
    padding: 55px 17px 25px 0;
}

footer p {
    line-height: 160%;
    margin-bottom: 15px;
}

.join {
    width: 95%;
    border-radius: 4px;
    height: 50px;
    background: white;
    display: inline-flex;
    box-shadow: inset 0 0 5px #979797;
}

footer input[type="search"] {
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 100%;
    margin-top: 2px;
    margin-left: 13px;
    height: 45px;
    vertical-align: middle;
    text-align: left;
}
.join button {
    height: 35px;
    border: none;
    border-radius: 4px;
    background: #f27054;
    color: #b3371e;
    margin: 7px 10px;
    font: 14px Helvetica, Arial;
    font-weight:bold;
    width: 65px;
    background: linear-gradient(to bottom, #f27458, #ef6448);
    box-shadow: 0 3px 2px -2px #8d8d8d;
}

.fa.fa-envelope {
    font-size: 14px;
    padding: 16px 0 0 14px;
    color: #dcdcdc;
}

.round {
    background: #f26c4f;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    margin-right: 12px;
}

.round i{
    margin: 14px 16px;
    font-size: 22px;
}


.icons {
    margin-top: 20px;
    display: inline-flex;
}

.copyright {
    padding-top: 40px;
}

.copyright p {
    color: #aeaeae;
}
                        /*FOOTER END*/

@media screen and (max-width: 1200px) {
    .login {
        margin: 18px 0 0 24%;
    }
}

@media screen and (max-width: 1140px) {
    .login {
        margin: 18px 0 0 22%;
    }
}

@media screen and (max-width: 984px) {
    .login {
        margin: 18px 0 0 12px;
    }
}